body {
	background: #ffffff;
	color: #272626;
	font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

header {
	background: #282b3e;
}

header .container {
    background: none;
}

.container {
	background: none;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
}

.txtjustify {
	text-align: justify;
}

.txtcenter {
	text-align: center;
}

.txtright {
	text-align: right;
}

.txtleft {
	text-align: left;
}

.txtitalic {
	font-style: italic;
}

.header-line {
	background: none;
	margin-bottom: 40px;
	margin-top: 40px;
	height: 8px;
	border: none;
	border-bottom: 3px solid #e00008;
}

.header-line2 {
	background: none;
	margin-bottom: 40px;
	margin-top: 40px;
	height: 11px;
	border: none;
	border-bottom: 1px solid #e0e0e0;
}


h1, h2, h3, h4, h5, h6 {
	font-family: 'Poppins', sans-serif;
}

h1 {
	text-transform: none;
	color: #282b3e;
	font-weight: bold;
	font-size: 35px;
}

h2 {
	font-size: 32px;
	color: #e00008;
	text-shadow: none;
}

h3 {
	font-family: 'Poppins', sans-serif;
	font-size: 1.29em;
	text-transform: uppercase;
	font-weight: bold;
}



.back-top {
	position: absolute;
	right: 10%;
	margin-top: 15px;
	font-size: 28px;
}

.fa-arrow-circle-o-up {
	color: #282b3e;
}

.fa-arrow-circle-o-up:hover {
	color: #e00008;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
.offcanvas-toggle {
	z-index: 999;
	background: #282b3e;
	color: #ffffff;
}

.offcanvas-but-wrap {
	width: 100%;
}

.offcanvas-toggle .icon-bar {
    background: #ffffff;
}

.nav-box {
    background: none;
}

.nav-box .container {
    background: #e00008;
}

.navbar {
    margin-bottom: 0px;
	min-height: 42px;
}

.logo {
	margin-top: 20px;
	margin-bottom: 20px;
}

	.logo img{
		max-width: 100%;
	}

	.logo p{
		color: #ffffff;
		text-shadow: 1px 1px 1px #1a1d2e;
		font-size: 16px;
	}

	.logo i{
		color: #e0c9b7;
		font-size: 20px;
		padding-left: 8px;
	}

	.logo a{
		color: #e0c9b7;
		text-decoration: none;
		font-family: 'Poppins', sans-serif;
		padding-bottom: 10px;
	}

	.logo-motrio {
		height: 60px;
		margin-left: 15px;
		vertical-align: middle;
	}

	@media (max-width: 480px) {
		.logo-motrio {
			height: 45px;
			margin-left: 10px;
			margin-top: 5px;
		}
	}


/* design/color menu only for PC, for mobile default style offcanvas */
@media (min-width: 768px) {
	.navbar-inverse {
		background: none;
		border: none;
		margin-top: 0px;
		margin-bottom: 0px;
	}
}

.nav>li>a {
    color: #ffffff;
	text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
	font-size: 115%;

}


.nav>li>a:hover,
.nav>li>a:focus
{
    background: #282b3e;
	color: #ffffff;
}


.nav>li {
    border-left: 1px solid #c00007;
    border-right: 1px solid #ff1a1a;
}

	.nav>li.first {
		border-left: 0px;
	}

	.nav>li.last {
		border-right: 0px;
	}


@media (max-width: 768px) {
	.nav>li {
		border-left: none;
		border-right: none;
	}
}


.nav-justified>li.active,
.nav-justified>li:active,
.nav-justified>li.active a,
.nav-justified>li:active a
{
    background: #282b3e;
	color: #ffffff;
}

.navbar-toggle {
	float: left;
	margin-left: 15px;
}

/* SLIDER
-------------------------------------------------- */
.bx-wrapper {
	margin: 25px 0 45px 0;
}

.bx-viewport {
    border: 2px solid #282b3e;
	box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
}

.bxslider {
	padding: 0px;
}

.bx-caption h5 {
	font-family: 'Poppins', sans-serif;
	color: #ffffff;
	font-size: 215%;
	text-transform: none;
	font-weight: 400;
	padding: 0;
	background: none;
	text-align: center;
	letter-spacing: 1px;
	text-shadow: 1px 1px 1px #000000;
}

	@media (max-width: 300px) {
		.bx-caption h5 {
			font-size: 125%;
		}
	}

	@media (max-width: 400px) {
		.bx-caption h5 {
			font-size: 50%;
		}
	}

	@media (max-width: 500px) {
		.bx-caption h5 {
			font-size: 133%;
		}
	}

	@media (max-width: 600px) {
		.bx-caption h5 {
			font-size: 145%;
		}
	}

	@media (max-width: 767px) {
		.bx-caption h5 {
			font-size: 165%;
		}
	}

.bx-wrapper .bx-caption {
	background: rgba(40, 43, 62, 0.80) !important;
}

/* Pathway
-------------------------------------------------- */
#pathway {
	position:relative;
	z-index:99;
    border-bottom: 1px solid #E8E8E8;
	font-size: 12px;
	margin-bottom: 40px;

}

.pathway-link {
	padding: 15px 0px;
}

	.pathway-link a {
		color: #A1A2A6;
		text-decoration: none;
	}

	.pathway-link a:hover {
		color: #6e6e6e;
		text-decoration: none;
	}

	.pathway-last{
		display:inline;
				color: #A1A2A6;

	}

	.pathway-link span{
		padding: 0px 10px 0px 10px;
		color: #e00008;
	}



/* BUTTONS
-------------------------------------------------- */
.btn {
	border-radius: 0px;
}

.btn-primary {
    color: #fff;
    background-color: #e00008;
    border-color: #b80006;
	border-radius: 5px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    color: #ffffff !important;
    background-color: #282b3e !important;
    border-color: #1a1d2e !important;
}



.btn-danger {
    color: #fff;
    background-color: #282b3e;
    border-color: #1a1d2e;
}

.btn-danger:focus,
.btn-danger.focus,
.btn-danger:hover {
    color: #fff;
    background-color: #e00008;
    border-color: #b80006;
}

.btn-danger.active, .btn-danger:active, .open>.dropdown-toggle.btn-danger {
    background-image: none;
}
.btn-danger.active, .btn-danger:active, .open>.dropdown-toggle.btn-danger,
.btn-danger.is-checked, .btn-danger.is-checked:active {
    color: #fff;
    background-color: #e00008;
    border-color: #b80006;
}

.btn-danger:active:hover,
.btn-danger.active:hover,
.btn-danger.is-checked:hover,

.open > .dropdown-toggle.btn-danger:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.btn-danger.is-checked:focus,

.open > .dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus,
.btn-danger.active.focus,
.btn-danger.is-checked.focus,

.open > .dropdown-toggle.btn-danger.focus {
    color: #fff;
    background-color: #e00008;
    border-color: #b80006;
}


/* Dlaczego my
-------------------------------------------------- */
.testimonials {
	float:left;
	padding: 0px 0px 0px 0px;
	margin: 15px 0px 0px 10px;
	width: 100%;
}

.testimonials span {
	float:left;
	width:40px;
	height:40px;
	font-size:30px;
	color:#ffffff;
	line-height:34px;
	text-align:center;
    background: #e00008;
	margin: 0px 20px 0 0px;
	padding-top:3px;
	border-radius: 10px;
}


/* MARKETING CONTENT
-------------------------------------------------- */
.marketing {
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4,
.marketing .col-lg-3,
.marketing .col-lg-6 {
	margin-bottom: 20px;
	text-align: left;
}

.marketing h2 {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 17px;
	text-transform: uppercase;
	color: #282b3e;
	text-shadow: none;
	margin: 0 0 5px 0;
}

.marketing .col-lg-4 p,
.marketing .col-lg-3 p,
.marketing .col-lg-6 p {
	color: #7c7b7b;
}

.market-box {
	background: #f4f5f7;
	border-radius: 15px;
	padding: 25px 25px 15px 25px;
}

.market-box i {
	font-size: 30px;
	background: #e00008;
	color: #ffffff;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}



/* SUBPAGE CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.subpage .col-lg-4 {
	margin-bottom: 20px;
}


.subpage h2 {
    margin: 0 0 20px 0;
    padding: 0 0 0 0;
	text-align: left;
}

@media (max-width: 768px) {
	.subpage h2 {
		margin: 0 0 10px 0px;
	}
}

.subpage h3 {
    margin: 10px 0;
}

.subpage h2>span {
	font-size: 15px;
	padding-left: 15px;
}

.subpage h2.opis-h {
	margin-top: 30px;
}

.subpage h2.noimage {
	margin-top: 0px;
	margin-left: 0px;
}

.img-big {
    float: left;
	max-width: 100%;
    margin: 0px 30px 30px 0px;
	border: 3px solid #ffffff;
	box-shadow: 0px 0px 2px #000000;
}

.img-medium {
    float: left;
	max-width: 100%;
    margin: 0px 20px 20px 0px;
	border: 4px solid #e00008;
}

.phone {
    font-size: 15px;
    line-height: 1.0em;
    color: #272626;
    margin: 15px 0 15px 10px;
}

.logo-info {
	font-size: 10px;
}

.news-wyd span {
    font-size: 0.7em;
    margin: 0 0 0 30px;
}

.news-wyd img {
	text-align: center;
    margin-right: auto;
    margin-left: auto;
	display: block;
}

.ul-oferta {
	list-style-type:none;
	line-height: 190%;
	padding-left: 20px;
}

.ul-oferta .fa-check-square-o {
	padding-right: 10px;
	font-size: 120%;
	color: #e00008;
}

.contact-frame {
	width: 100%;
	height: 650px;
}


/* Kontakt
------------------------- */
.formularz {
	padding: 0px 0px;
}

.formularz h3{
	font-size: 250%;
    text-align: left;
    margin-bottom: 50px;
}


.formularz .market-box {
	text-align: left;
}



/* Featurettes
------------------------- */

.featurette-divider {
	margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
	font-weight: 300;
	line-height: 1;
	letter-spacing: -1px;
}



/* FOOTER
-------------------------------------------------- */
.footer {
	background: none;
	font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.footer .container {
	padding-top: 25px;
	padding-bottom: 15px;
	background: #282b3e;
	border-top: 4px solid #e00008;
}


.footer p {
	text-align: left;
	color:#fffefe;
	font-size: 11px;
	text-shadow: black 0px 1px 1px;

}

.footer p > a,
.footer .links,
.footer .links a
{
	text-align: right;
	color:#fffefe;
	font-size: 11px;
	text-shadow: black 0px 1px 1px;
}

.footer .links span {
	color: #4a4d5e;
}

.footer p > a:hover,
.footer .links a:hover
{
	color:#e00008;
	text-decoration: none;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
	/* Navbar positioning foo */
	.navbar-wrapper {
		margin-top: 20px;
	}
	.navbar-wrapper .container {
		padding-right: 15px;
		padding-left: 15px;
	}
	.navbar-wrapper .navbar {
		padding-right: 0;
		padding-left: 0;
	}

	/* The navbar becomes detached from the top, so we round the corners */
	.navbar-wrapper .navbar {
		border-radius: 4px;
	}

	/* Bump up size of carousel content */
	.carousel-caption p {
		margin-bottom: 20px;
		font-size: 19px;
		line-height: 1.4;
	}

	.featurette-heading {
		font-size: 50px;
	}
}

@media (min-width: 992px) {
	.featurette-heading {
		margin-top: 120px;
	}
}
