mat-form-field {
  width: 100%;
  margin-bottom: 10px;
}

mat-card {
  margin: auto;
  padding: 16px;
  background-color: rgb(245, 245, 242);
}

mat-card-title {
  margin-bottom: 16px;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  padding-top: 2vh;
  background-color: #fcc603;
  height: 98vh
}

.form-header {
  background-color: #fcc603;
  padding-bottom: 1vh;
}

.page-container {
  padding-bottom: 13vh;
}

:host ::ng-deep .mat-mdc-text-field-wrapper {
  --mdc-outlined-text-field-label-text-color: #000 !important;
  --mdc-outlined-text-field-outline-color: #000 !important;
  --mdc-outlined-text-field-focus-outline-color: #000 !important;
}

:host ::ng-deep .mat-mdc-text-field-wrapper {
  --mdc-outlined-text-field-focus-label-text-color: #000 !important;
}

:host ::ng-deep .mat-mdc-text-field-wrapper {
  --mdc-outlined-text-field-input-text-color: #000 !important;
}
:host ::ng-deep .mat-mdc-text-field-wrapper {
  --mdc-outlined-text-field-caret-color: #000 !important;
}
:host ::ng-deep .mat-mdc-checkbox {
  --mat-checkbox-label-text-color: #000 !important;
}
:host ::ng-deep .mat-mdc-raised-button {
  --mdc-protected-button-label-text-color: #000 !important;
  --mdc-protected-button-container-color: #fcc603 !important;
  background-color: #fcc603 !important;
  color: black !important;
}

:host ::ng-deep .mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: #000 !important;
}

.sticky-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: #fcc603;
  box-shadow: 0 -2px 8px rgba(0,0,0,0.1);
  padding-top: 1vh;
  padding-bottom: 0.5vh;
  text-align: center;
}
