.mat-elevation-z8 {
    background: white;
    border-radius: 4px;
}

table {
    width: 100%;
    height: 100%;
}

.mat-mdc-paginator,
.mat-mdc-table,
.mat-mdc-row,
.mat-mdc-header-row {
    background-color: white;
    color: black;
}

.mat-mdc-table {
    height: 80%;
}

.status-new {
    background-color: rgb(78, 209, 18);
}

.spinner-overlay {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(255,255,255,0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.mat-mdc-progress-spinner { --mdc-circular-progress-active-indicator-color: #ff0; }
